#categories-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: var(--brand-color-700);
    font-weight: 600;
}

.categories {
    cursor: pointer;
}