#FRONTEND

# dependencies
Frontend/node_modules/
Frontend/.pnp
Frontend/.pnp.js

# testing
Frontend/coverage
Frontend/src/media

# production
Fronend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local
Frontend/.eslintcache

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

#BACKEND
/Backend/.env
/Backend/.flaskenv
