#work-bench-container {
  border-radius: 4px;
  padding: 15px 10px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
}

#crudbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#crudbox-title {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(69, 129, 142);
}

#work-bench-header {
  margin: 5px;
  color: rgb(69, 129, 142, 0.7);
}

.crud-actions {
  border: 1px solid #45818ecc;
  box-shadow: 0 0px 5px 0.2px #45818ecc;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  color: #474747;
  box-sizing: border-box;
}

#post:hover {
  background-color: rgba(39, 175, 112, 0.425);
}
#put:hover {
  background-color: rgba(241, 226, 16, 0.582);
}
#delete:hover {
  background-color: rgba(194, 42, 31, 0.425);
}

#text-box-input {
  margin: 5px;
  width: 0;
  border: 0;
  padding: 5px;
  border-bottom: 1px solid #45818ecc;
  position: relative;
}

#text-box-input:focus {
  outline: none !important;
  border-color: #45818ecc;
  transition: 1s ease;
  box-sizing: border-box;
  width: 95%;
}
