#work-bench-container {
  border-radius: 4px;
  padding: 15px 10px;
  box-shadow: 0 0px 10px 0.2px rgba(109, 109, 109, 0.8);
  width: 260px;
  height: auto;
  margin: 0 auto;
}

#crudbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#crudbox-title {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(69, 129, 142);
}

#work-bench-header {
  margin: 5px;
  color: rgb(69, 129, 142);
}

#work-bench-header.delete {
  color: rgba(194, 42, 31, 0.8);
}

.crud-action-buttons {
  border: 1px solid #45818ecc;
  box-shadow: 0 0px 5px 0.2px #45818ecc;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  color: rgb(109, 109, 109);
  box-sizing: border-box;
}

.crud-action-buttons:hover {
  color: white;
}

#post:hover {
  background-color: rgba(39, 175, 112, 0.425);
}
#put:hover {
  background-color: rgba(241, 226, 16, 0.582);
}
#delete:hover {
  background-color: rgba(194, 42, 31, 0.425);
}

#delete-confirm:hover {
  background-color: rgba(39, 175, 112, 0.425);
}

#delete-decline:hover {
  background-color: rgba(194, 42, 31, 0.425);
}

.delete-buttons {
  width: 50px;
  text-align: center;
}

#input-field-form {
  margin-top: 5px;
  box-sizing: border-box;
}

#blueprint-image {
  box-sizing: border-box;
  padding-top: 5px;
}

.blueprint-image-title {
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 5px;
  color: rgb(69, 129, 142);
  font-weight: bolder;
}

input[type="file"]::file-selector-button {
  border: 1px solid #45818ecc;
  background-color: white;
  box-shadow: 0 0px 5px 0.2px #45818ecc;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  color: rgb(109, 109, 109);
  box-sizing: border-box;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgba(212, 211, 211, 0.4);
}

.crud-input {
  margin: 5px;
  width: 0%;
  border: 0;
  padding: 5px;
  border-bottom: 0px solid #45818ecc;
  position: relative;
}

.crud-input.active {
  box-sizing: border-box;
  /* min-width: 90%; */
  transition: width 2s ease;
  width: 90%;
  outline: none !important;
  border-bottom: 1px solid #45818ecc;
  border-color: #45818ecc;
}

.crud-input.focus:focus {
  outline: none !important;
  border-color: #45818ecc;
  transition: 1s ease;
  border-bottom: 1px solid #45818ecc;
  box-sizing: border-box;
  width: 90%;
}

#input-action-cancel {
  cursor: pointer;
  color: #45818ecc;
  position: relative;
  right: 10px;
}

#input-field-submit {
  width: 100px;
  text-align: center;
  color: white;
  background-color: #45818eac;
  margin-left: 110px;
  flex: 0 0 3;
}

#input-field-submit:hover {
  background-color: #45818ed6;
}
