#home-page-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 10px;
}

#home-page-build-list {
  border: 1px solid black;
  padding: 5px;
  height: 20px;
}

#home-page-divider {
  margin: 0 5px;
  border-right: 4mm ridge rgba(69, 129, 142, 0.55);
  border-radius: 3px;
}

#home-page-garage {
  border: 1px solid black;
  padding: 5px;
  height: 20px;
}
