#carousel-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #ffff;
}
#image-container {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  justify-content: center;
}

#carousel-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
  object-fit: contain;
}

.carousel-content {
  padding: 5px;
  cursor: pointer;
}

.carousel-buttons {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(109, 109, 109, 0.7);
  padding: 5px 15px;
  border-radius: 3px;
  height: 20px;
  margin: 0px 25px;
  /* color: rgb(255, 255, 255, 0.7); */
}

.carousel-buttons:hover {
  box-shadow: 0 0 10px 0 rgb(69, 129, 142);
}
