#carousel-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

#image-container {
  display: flex;
  margin: 0 20px;
  justify-content: center;
}

.carousel-content {
  padding: 5px;
  cursor: pointer;
}

.carousel-buttons {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  border-radius: 3px;
}

.carousel-buttons:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
