#step-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#step-number {
    border-bottom: var(--app-border);
    padding-bottom: 10px;
    color: var(--app-title-color);
    font-weight: bolder;
    cursor: default;
    border-width: 2px;
}

#steps-heading {
    color: var(--app-title-color);
    cursor: default;
}

#steps-form {
    display: inline-flex;
    flex-direction: column;
    border:var(--app-border);
    border-radius: var(--app-border-radius);
    box-shadow: var(--app-card-shadow);
    padding: 30px;
    width: 50%;
    gap: 20px;
}

#steps-form > div {
    display: flex;
}

#steps-form > div > label {
    font-weight: bold;
    color: var(--app-text-color)
}

#form-title-container {
    gap: 10px;
    width: 80%;
    flex-direction: column;
}

#form-description-container {
    width: 80%;
    flex-direction: column;
    gap: 10px;
}

#step-title {
    border: none;
    border-bottom: var(--app-border);
    width: 100%;
    outline: none;
    padding: 10px 5px;
    margin-left: 5px;
}

#step-description {
    width: 100%;
    display: block;
    border: var(--app-border);
    border-radius: var(--app-border-radius);
    overflow: hidden;
    padding: 10px 5px;
    resize: both;
    min-height: 40px;
    outline: none;
    line-height: 20px;
    margin-left: 5px;
}

#steps-media-container {
    flex-direction: column;
}

#step-media {
    color: var(--app-color-teal);
    font-weight: bolder;
    margin-left: 0px;
    height: fit-content;
    padding: 10px 5px;
}

#step-media::file-selector-button {
    background-color: var(--app-button-active);
    border: var(--app-border);
    border-radius: var(--app-border-radius);
    padding: var(--app-button-padding);
    box-shadow: var(--app-button-box-shadow);
    color: var(--app-text-color);
    font-weight: bolder;
}

#step-media::file-selector-button:hover {
    cursor: pointer;
    color: var(--app-color-teal);
    background-color: var(--app-button-hover-color);
}


#step-add-button {
    width: fit-content;
}

#step-add-button:hover {
    background-color: var(--app-button-hover-color);
    color: var(--app-color-teal);
    font-weight: bolder;
}

#step-card{
    margin: 40px 20px;
    padding: 10px;
    box-shadow: var(--app-card-shadow);
}

#steps-card-heading {
    color: var(--app-title-color);
    margin-top: 80px;
}

#steps-card-container {
    width: 50%;
    box-shadow: var(--app-card-shadow-teal);
    border-radius: var(--app-border-radius);
    padding: 10px;
    margin-bottom: 100px;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

#steps-card-container::-webkit-scrollbar {
    display: none;
}

#step-card-title {
    border-bottom: var(--app-border);
    padding-bottom: 10px;
    border-width: 2px;
    cursor: default;
}

#step-instruction-container {
    border: var(--app-border);
    border-radius: var(--app-border-radius);
    padding: 10px 5px;
    min-height: 20px;
    overflow: hidden;
}

#step-instruction {
    list-style: none;
    padding-left: 10px;
    cursor: default;
}

#step-card-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#step-add-button:hover {
    background-color: var(--app-button-create-color);
    color: var(--app-button-active)
}

#step-delete-button:hover {
    background-color: var(--app-button-delete-color);
    color: var(--app-button-active)
}

.step-buttons {
    border: var(--app-border);
    padding: var(--app-button-padding);
    border-radius: var(--app-border-radius);
    background-color: var(--app-button-active);
    box-shadow: var(--app-button-box-shadow);
    color: var(--app-text-color);
    cursor: pointer;
    font-weight: bolder;
}

.step-buttons:hover {
    color: var(--app-color-teal);
    background-color: var(--app-button-hover-color);
}