#garage-container {
  box-sizing: border-box;
  width: 100vw;
}

#garage-title {
  margin-top: 5;
  text-align: center;
  cursor: pointer;
  color: rgba(69, 129, 142, 0.8);
  font-weight: bolder;
}

#garage-page-links-container {
  text-align: center;
  box-sizing: border-box;
}

#garage-items {
  display: flex;
  box-sizing: border-box;
  margin: 50px auto;
  align-items: center;
  border: 10px solid blue;
  width: 100%;
  justify-content: center;
  position: relative;
}

#garage-blueprint-specs-container {
  box-sizing: border-box;
  position: absolute;
  border: 5px solid red;
  transition: width 1.5s ease-out;
  width: 20%;
}
#garage-blueprint-specs-container.active {
  transition: width 1s ease;
  width: 90%;
}

#garage-carousel-container {
  border: 1px solid red;
  box-sizing: border-box;
  /* z-index: 1; */
}

#garage-crud-box-container {
  box-sizing: border-box;
  border: 10px solid blue;
  position: absolute;
}

.garage-page-links {
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.garage-page-links:hover {
  box-shadow: 0 0px 10px 0.2px rgba(69, 129, 142, 0.8);
  border-radius: 3px;
}

#garage-blueprint-project-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 50px auto;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
}

#blueprint-option-buttons-container {
  padding: 20px;
  padding-top: 10px;
}

#blueprint-project-title {
  /* text-align: center; */
  margin-top: 20px;
  margin-left: 10px;
}

.blueprint-options {
  margin-top: 0;
  text-align: center;
}

.blueprint-options:hover {
  background-color: rgb(69, 129, 142, 0.5);
}

.blueprint-options:last-of-type {
  margin-top: 12px;
}

#garage-blueprint-project {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  margin-top: 10px;
  width: 20%;
  border: 0.5px solid rgba(69, 129, 142, 0.8);
  border-radius: 4px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
}

#blueprint-project:hover {
  background-color: rgba(70, 173, 196, 0.345);
}

#blueprint-buildlist:hover {
  background-color: rgba(70, 173, 196, 0.345);
}
