#garage-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#garage-heading {
    text-align: center;
    color: var(--brand-color-700);
    font-weight: bold;
    margin-top: 5px;
}

#garage-categories-container {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
}

#garage-blueprints-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#garage-specs-container {
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 10px var(--shadow-color-400);
    padding: 20px 30px;
    font-size: 1.3rem;
    position: absolute;
    top: 45%;
    left: 20px;
    overflow-y:scroll;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-visible::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background: var(--brand-color-300);
  }

.scroll-visible::-webkit-scrollbar-thumb {
    background: var(--brand-color-800)
  }

#garage-work-bench-container {
    display: flex;
    border: 2px solid black;

}

.work-bench-buttons {
    font-size: var(--button-medium);
    width: 140px;
    padding: 3px 10px;
    margin: 5px 10px;
    background-color: transparent;
}

