#garage-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#garage-heading {
    text-align: center;
    color: var(--brand-color-700);
    font-weight: bold;
    margin-top: 5px;
}

#garage-categories-container {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

#garage-blueprints-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#garage-specs-container {
    width: 100%;
    border: 1px solid purple;
    padding: 10px;
}

#garage-crud-box-container {
    width: 100%;
    border: 1px solid orange;
    padding: 10px;
}