#garage-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

#garage-title {
  margin-top: 5;
  text-align: center;
  cursor: pointer;
}

#garage-page-links-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.garage-page-links {
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
  /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2); */
}

.garage-page-links:hover {
  box-shadow: 0 0px 10px 0.2px rgba(69, 129, 142, 0.8);
  border-radius: 3px;
}
