#garage-container {
  box-sizing: border-box;
  width: 100vw;
  position: relative;
}

#garage-projects-navigation-container {
  box-sizing: border-box;
  position: absolute;
  right: 10%;
  z-index: 1;
  cursor: pointer;
}

#garage-project-navigation {
  margin-top: 15px;
  width: 100%;
  color: rgba(86, 86, 86, 1);
  z-index: 1;
}

#garage-title-container {
  display: flex;
  justify-content: center;
}

#garage-title {
  box-sizing: border-box;
  margin: 10px;
  cursor: pointer;
  color: rgba(69, 129, 142, 0.8);
  font-weight: bolder;
}

#garage-page-links-container {
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

#garage-items-inner {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

#garage-items-inner.active > #garage-blueprint-specs-container {
  transition: left 1s ease;
  left: 5%;
}

#garage-items-inner.active > #garage-crud-box-container {
  transition: right 1s ease;
  right: 5%;
}

.card {
  width: 38%;
  height: 100%;
  top: 10px;
  background-color: #ffff;
  position: absolute;
  z-index: 2;
}

#garage-blueprint-specs-container {
  box-sizing: border-box;
  position: absolute;
  transition: left 1s ease;
  left: 35%;
  z-index: 1;
}

#garage-carousel-container {
  box-sizing: border-box;
  z-index: 3;
}

#garage-crud-box-container {
  box-sizing: border-box;
  position: absolute;
  transition: right 1s ease;
  right: 35%;
  z-index: 1;
}

#garage-blueprint-project-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 50px auto;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
  position: relative;
}

#blueprint-option-buttons-container {
  padding: 20px;
  padding-top: 10px;
}

#blueprint-project-title {
  margin-top: 20px;
  margin-left: 10px;
}

.blueprint-options {
  margin-top: 0;
  text-align: center;
}

.blueprint-options:hover {
  background-color: rgb(69, 129, 142, 0.5);
}

.blueprint-options:last-of-type {
  margin-top: 12px;
}

#garage-blueprint-project {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  margin-top: 10px;
  width: 20%;
  border: 0.5px solid rgba(69, 129, 142, 0.8);
  border-radius: 4px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
}

#blueprint-project:hover {
  background-color: rgba(70, 173, 196, 0.345);
}

#blueprint-buildlist:hover {
  background-color: rgba(70, 173, 196, 0.345);
}
