.landing-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#landing-page-message-container {
  display: flex;
  flex-direction: column;
}

#landing-page-message {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}

#landing-page-revolving-text {
  margin-left: 20px;
  color: #45818e;
}

#registration-signup {
  text-align: center;
}

#registration-demo {
  color: #45818e;
  cursor: pointer;
  text-align: center;
}

#registration-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#registration-text {
  text-align: center;
}
#landing-page-footer {
  border-top: 1px solid black;
  color: red;
}
