.landing-page-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(229, 232, 232, 0.566);
}

#landing-page-message-container {
  display: flex;
  flex-direction: column;
}

#landing-page-message {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
}

#landing-page-revolving-text {
  margin-left: 20px;
  color: #45818e;
}

#registration-signup {
  text-align: center;
  color: #45818e;
  cursor: pointer;
}

#registration-signup:hover {
  color: blue;
}

#registration-demo {
  color: #45818e;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
}

#registration-demo:hover {
  color: #1c353b;
}

#registration-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

#registration-container > h3 {
  margin: 0 auto;
}

.registration-text {
  text-align: center;
  margin-top: 0px;
}
#landing-page-footer {
  border-top: 1mm solid rgba(52, 52, 52, 0.463);
  color: red;
  text-align: center;
  margin: 0% 5%;
  padding-top: 20px;
}

#landing-page-github {
  cursor: pointer;
  margin-right: 5px;
}

#landing-page-linkedin {
  cursor: pointer;
  margin-left: 5px;
}

.landing-page-footer-icons {
  color: black;
  margin-left: 5px;
}

.landing-page-footer-icons:hover {
  color: #45818e;
}
