.landingPage {
  background: rgb(9, 9, 9);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(117, 117, 117, 1) 13%,
    rgba(201, 198, 198, 1) 24%,
    rgba(252, 252, 252, 1) 31%,
    rgba(252, 252, 252, 1) 69%,
    rgba(201, 198, 198, 1) 76%,
    rgba(117, 117, 117, 1) 87%,
    rgba(9, 9, 9, 1) 100%
  );
  height: 100vh;
}

#home {
  cursor: pointer;
  width: 8%;
  padding-left: 30px;
  padding-top: 20px;
  margin: 0 auto;
}

.landingPage-banner-container {
  display: flex;
  justify-content: space-around;
}

#turbo {
  height: 7%;
  top: 20%;
  left: 70%;
  animation: float 7s ease-in infinite;
}

#turbo-2 {
  height: 7%;
  bottom: 45%;
  left: 35.5%;
  animation: float 6s infinite ease-in-out;
}

#exhaust {
  height: 15%;
  left: 50%;
  bottom: 75%;
  animation: float 10s infinite ease-in-out;
}

#piston-1 {
  height: 10%;
  left: 35%;
  bottom: 70%;
  animation: float 10s infinite ease-in-out;
}
#piston-2 {
  height: 7%;
  right: 35%;
  top: 61%;
  animation: float 10s infinite ease-in-out;
}

#evo {
  height: 45%;
  top: 27.5%;
  left: 20.5%;
}
#rotor {
  height: 10%;
  bottom: 50%;
  left: 60%;
  animation: float 7s ease-in-out infinite;
}

#rotor-2 {
  height: 5%;
  bottom: 55%;
  left: 25%;
  animation: float 6s ease infinite;
}

#rx7 {
  height: 45%;
  right: 20%;
  top: 29%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.landingPage-banner-icons {
  position: absolute;
}
.landingPage-feed {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin: 0 auto;
  align-self: center;
}

.feed-button {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s width;
  padding: 3px;
}

.landingPage-banner-images {
  display: flex;
  width: 100%;
}
.landingPage-banner-image {
  position: relative;
  height: 110%;
  top: 5%;
  margin: 0 auto;
}

.landingPage-login {
  width: 30%;
  margin: 0 auto;
  align-self: center;
}

.login-button {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s width;
  padding: 3px;
  padding-right: 7px;
}

@keyframes blinking {
  50% {
    background-color: #df982e;
    box-shadow: 1px 1px 25px 20px #df982e;
  }
  100% {
    background-color: rgb(126, 126, 126);
    box-shadow: none;
  }
}

.landingPage-buttons:hover {
  box-shadow: 1px 1px 15px #df982e;
  width: 30%;
  animation: blinking infinite 0.7s;
}
