.projects-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  margin-top: 50px;
}

#projects-title-crud {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 100px;
  align-items: flex-start;
}

#blueprint-project-title-container {
  cursor: default;
  width: 100%;
  color: rgb(109, 109, 109);
}

.blueprint-project-title {
  color: rgb(69, 129, 142);
  margin-left: 10px;
  border-bottom: 2px solid rgb(109, 109, 109);
  cursor: pointer;
}

.project {
  cursor: default;
}

.project-message-containers {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.project-messages {
  color: rgb(109, 109, 109);
}

.project-titles {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(86, 86, 86, 0.8);
  padding-bottom: 15px;
  padding-left: 15px;
  cursor: default;
  color: rgb(69, 129, 142);
}
