.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  margin-top: 50px;
}

#projects-title-crud {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 100px;
  align-items: flex-start;
}

#blueprint-project-title {
  cursor: default;
  width: 100%;
}

.project {
  cursor: default;
}

#completed-projects__incomplete-container {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.project-titles {
  margin-bottom: 0;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  padding-left: 15px;
  cursor: default;
}
