/* TODO Add site wide styles */
html {
  font-family: "Roboto";
  height: 100vh;
}
#root {
  padding: 0;
  margin: 0;
  height: 100px;
  padding-bottom: 50px;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffff;
}


:root {
  --app-color-teal: #45818ecc;
  --app-border: 1px solid  var(--app-color-teal);
  --app-card-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
  --app-title-color: var(--app-color-teal);
  --app-text-color: rgba(86, 86, 86, 1);
  --app-border-radius: 5px;
  --app-button-active: white;
  --app-button-padding: 7px 10px;
  --app-button-hover-color: rgba(212, 211, 211, 0.4);
  --app-hover-color-teal: rgb(18, 77, 90);
  --app-button-box-shadow: 0 0px 5px 0.2px #45818ecc
}