#specs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#specs-heading {
    color: var(--brand-color-700);
    margin-right: 8px;
}

#spec-container-border {
    width: 150px;
    height: 3px;
    background-color: var(--brand-color-700);
    margin-bottom: 20px;
}

.specs {
    list-style: none;
    color: var(--brand-color-500);
    font-weight: bold;
    cursor: pointer;
}