#blueprint-title {
  text-align: center;
  margin-bottom: 5px;
  color: rgba(69, 129, 142, 0.8);
}

#blueprint-specs-container {
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
}

#blueprint-specs {
  transition: 1s ease-in;
}
