#blueprint-specs-container {
  box-sizing: border-box;
  width: 200px;
}

#blueprint-spec-title {
  margin-bottom: 5px;
  margin-left: 10px;
  color: rgb(69, 129, 142);
}

#blueprint-spec-item-container {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0px 10px 0.2px rgba(86, 86, 86, 0.8);
  width: 200px;
}

.blueprint-specs {
  color: rgba(69, 129, 142, 0.8);
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

.blueprint-specs:hover {
  color: rgb(18, 77, 90);
}

.blueprint-specs:current {
  color: rgb(5, 61, 73);
}
